#container{
    background: #000;
    text-align: center;
}

#container h1{
    
}
.container h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.container-2{
    background-color: aqua;
}
.container-2 h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}